[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "third-party/cpp-optparse"]
	path = third-party/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse
[submodule "third-party/pbbam"]
	path = third-party/pbbam
	url = https://github.com/PacificBiosciences/pbbam
[submodule "third-party/htslib"]
	path = third-party/htslib
	url = https://github.com/PacificBiosciences/htslib
